<div class="container">

    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">

    	<section style="height: 300px">
		    <h1>contact us</h1>

		    <p>Teamhuddle has a complete open door policy! We are always looking for suggestions, and are also expanding our internal team. At this time, we are on the hunt for community ambassadors that understand the value of physical activity and the importance of a strong social media presence.Feedback from our network is also very important to us, so we'd love to chat. Please don't hesitate to send us an email below. </p>

</section>


<br><br>


	    <h1>what are you thinking about?</h1>

		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="firstName" class="col-sm-2 control-label">First name</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="firstName" placeholder="" style="border-radius: 0px; border: 1px solid #000">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="lastName" class="col-sm-2 control-label">Last name</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="lastName" placeholder="" style="border-radius: 0px; border: 1px solid #000">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="email" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="email" placeholder="" style="border-radius: 0px; border: 1px solid #000">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="email" class="col-sm-2 control-label">Comments</label>
		    <div class="col-sm-10">
		    	<textarea class="form-control" style="border-radius: 0px; border: 1px solid #000"></textarea>
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-success pull-right">Sign in</button>
		    </div>
		  </div>
		</form>
	</div>


	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="border-left: 1px solid #000">
		<ul>
			<li style="display:block; padding-bottom: 25px; padding-top: 25px;" class="img-responsive"><img src="http://www.placehold.it/50x50"></li>
			<li style="display:block; padding-bottom: 25px" class="img-responsive"><img src="http://www.placehold.it/50x50"></li>
			<li style="display:block; padding-bottom: 25px" class="img-responsive"><img src="http://www.placehold.it/50x50"></li>
			<li style="display:block; padding-bottom: 25px" class="img-responsive"><img src="http://www.placehold.it/50x50"></li>
		</ul>
	</div>


	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block" style="padding-top:100px;" height="200">
		<p><strong>Disclaimer:</strong> The content on our site are from various organizations and are subjected to what are posted on the organization's 
websites. If any information is incomplete, incorrect or out of date, please feel free to contact teamhuddle. </p>

	</div>

</div>