<% content_for :title, "Teamhuddle | Drop-in Finder" %>

<div class="container" ng-controller="dropins">

  <section class="header-outer">
    <div class="header text-center" ng-show="sport === 'no-sport'">
      <h1>drop-in finder</h1>
      <h3>Find the sports you love playing with the players you love playing with!</h3>
      <h4>
        A local listing of drop-ins in your community. Click on a sport below and see what's happening
        around your neighborhood today. Filter by location, day and level. Check back soon to see what
        other sports we are adding next!
      </h4>
    </div>
  </section>

  <section class="default-sport_logos-outer" ng-if="sport === 'no-sport'">
    <div class="default-sport-logos-inner">
      <div class="default-icon-outer">
        <a href="#volleyball"><div class="sport_logo icon2"><img src="" class="img-responsive"></div></a>
        <a href="#basketball"><div class="sport_logo icon1"><img src="" class="img-responsive"></div></a>
        <a href="#hockey"><div class="sport_logo icon3"><img src="" class="img-responsive"></div></a>
        <a href="#soccer"><div class="sport_logo icon4"><img src="" class="img-responsive"></div></a>
        <div class="sport_logo icon5"><img src="" class="img-responsive"></div>
        <div class="sport_logo icon6"><img src="" class="img-responsive"></div>
        <div class="sport_logo icon7"><img src="" class="img-responsive"></div>
        <div class="sport_logo icon8"><img src="" class="img-responsive"></div>
      </div>
    </div>
    <p class="disclaimer clearfix"><i>
      Schedules are subject to change. Please phone facilities for confirmation.
    </i></p>
  </section>

  <section ng-show="sport !== 'no-sport'">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 left-wrapper" ng-cloak ng-class="{'map-mobile-toggle': !mapMobileToggle}" ng-view>
      <map center="Vancouver, Canada" zoom="10" init-event="loadMap" geo-fallback-center="Vancouver, Canada"></map>
      <button class="btn-info hidden-md hidden-lg col-sm-12 col-xs-12" ng-click="switchToList()">show list</button>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 right-wrapper" ng-cloak ng-class="{'map-mobile-toggle': mapMobileToggle}">        
      <br>
      <div class="dropinfilters_row">
        <button class="btn btn-default hidden-lg hidden-md col-sm-12 col-xs-12" ng-click="switchToMap()">show map</button>
        <button class="btn btn-success col-lg-3 col-md-6 col-sm-6 col-xs-6" ng-click="resetFilters()">reset filters</button>
        <%= link_to "more sports", "#/", class: "btn btn-info col-lg-3 col-md-6 col-sm-6 col-xs-6" %>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <select class="form-control dropin_filter1" ng-model="weekdaySelect" ng-change="setFilters()">
            <option value="" disabled selected>Day</option>
            <option value="All">All</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <select class="form-control dropin_filter2" ng-model="skillLevelSelect" ng-change="setFilters()">
            <option value="" disabled selected>Skill Level</option>
            <option value="All">All</option>
            <option value="Recreational">Recreational</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          </select>
        </div>
      </div>

      <h2 class="text-center sport_name" ng-if="sport !== 'no-sport'">drop-in {{sport | lowercase }} events</h2>
      <div class="dropin_results">
        <div class="text-center"  ng-show="loadingDropins">
          <%= image_tag("loading.gif", alt: "loading") %>
        </div>
        <br>
        <div class="row clearfix dropin-repeat"
             ng-class="{selected: markerWrappers.currentlyOpen === dropin.id}"  
             ng-repeat="dropin in dropins" 
             ng-click="markerWrappers[dropin.id].infoWindow.toggle(); centerDropin(dropin)"
             ng-attr-id="{{ 'dropin-' + dropin.id }}">         
            <hr>
            <div class="col-md-4 col-xs-12">
              <h4 ng-class="{bolded: isSelected(dropin.id)}">{{dropin.location.name}}</h4>
              <div ng-show="isSelected(dropin.id)" class="dropin-info">
                <span>{{dropin.location.address}}</span><br>
                <span>{{dropin.phone}}</span><br>
                <email>{{dropin.organization.email}}</email>
              </div>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md" ng-if="isSelected(dropin.id)">
                <button class="btn-info" ng-click="$event.stopPropagation(); switchToMap()">show on map</button>
            </div>

            <a ng-if="admin_signed_in" href="/admin/dropins/{{dropin.sport_event.id}}" ng-click="$event.stopPropagation()">View Admin Page for Dropin</a>

            <!-- show this if it's not selected -->
            <div ng-hide="isSelected(dropin.id)">
                <p class="col-md-2 col-xs-4">{{dropin.datetime_start | date:'EEEE'}}</p>
                <p class="col-md-2 col-xs-4">{{dropin.sport_event.skill_level}}</p>
                <p class="col-md-4 col-xs-4">{{dropin.datetime_start | date:'h:mm a'}} - {{dropin.datetime_end | date:'h:mm a'}}</p>
            </div>
            
            <!-- show this if it is selected -->
            <div ng-show="isSelected(dropin.id)">
              <div class="col-md-2 col-xs-4">
                <br>
                <dt>Day</dt><dl>{{dropin.datetime_start | date:'EEEE'}}</dl>
                <dt>Price</dt><dl>{{dropin.sport_event.price_per_one | currency }}</dl>                
              </div>
              <div class="col-md-2 col-xs-4">
                <br>
                <dt>Skill Level</dt><dl>{{dropin.sport_event.skill_level}}</dl>
                <dt>Spots Available</dt>
                <dl ng-if="dropin.sport_event.spots !== null">{{ dropin.sport_events.spots }}</dl>
                <dl ng-if="dropin.sport_event.spots === null">N/A</dl>
              </div>
              <div class="col-md-4 col-xs-4">
                <br>
                <dt>Time</dt><dl>{{dropin.datetime_start | date:'h:mm a'}} - {{dropin.datetime_end | date:'h:mm a'}}</dl>
                <dt>Schedule Until</dt><dl>{{dropin.sport_event.schedule_until | date:'MMM d'}}</dl>
                <dt ng-show="dropin.sport_event.source !== null">Source</dt><dl><a href="{{dropin.sport_event.source}}" ng-click="$event.stopPropagation()">{{dropin.sport_event.source}}</a></dl>
              </div>
            </div>
            
        </div>
      </div>
      <div class="disclaimer clearfix">
          <p><i>
           Schedules are subject to change. Please phone facilities for confirmation.
          </i></p>
      </div>
      </div>
  </section>
</div>


<style>
  #footer {
      display: none;
  }

</style>
<%= javascript_include_tag 'angular_client_application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyDwIy4KU0bhEV5R3yV5hAqAcL_TIjlrY0o' %>
