<% content_for :title, "Teamhuddle | Dropin Finder" %>



<div class="row" ng-app="DropinFinder" >
  <div>

    <div app-view-segment="0"></div>

    <style>
        .footer {
            display: none;
        }
    </style>

    <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyDwIy4KU0bhEV5R3yV5hAqAcL_TIjlrY0o&libraries=geometry' %>
    <%= javascript_include_tag 'dropin_finder_app', 'data-turbolinks-track' => true %>

  </div>
</div>