<div class="container-fluid" ng-controller="landing-page" ng-cloak>

  <section class="header-outer col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="header">
        <%= image_tag 'logo-compressed.png', class: "logo center-block", alt: 'teamhuddle_logo'%>
        <div class="text-center">
          <h1>teamhuddle</h1>
          <h3>Find the sports you love playing with the players you love playing with!</h3>
          <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor.</h5>
        </div>
    </div>
  </section>
  <section class="mailer-outer">
    <div class="mailer col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="mailer-inner text-center">
          <h4>Submit your e-mail below to receive front of the line access to our beta</h4>
          <br>
          
          <form ng-submit="submit()" ng-class="{ animateSlide: success && submitted && !processing }"> <!--ng-hide="success && submitted && !processing" -->
              <input type="email" ng-model="email" class="form-control"/>
              <input value="submit" type="submit" class="btn btn-info"/>
          </form>
          <br>

          <!-- Show this div while waiting for a response from the server -->
          <div ng-if="processing">
              <p>please wait..</p>
          </div>
          
          <!-- Show this div on success -->
          <div class="panel panel-success" ng-if="success && submitted && !processing">
              <p>Thanks for signing up, {{user.email}}!</p>
          </div>
          
          <!-- Show this div if there was an error -->
          <div class="panel panel-warn" ng-if="!success && submitted && !processing">
              <p>There was an error processing your request. Sorry!</p>
          </div>

        </div>
      </div>
  </section>

   <section class="feature-outer">
    <div class="feature col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="text-center">teamhuddle features</h1><br>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 center-block">
          <img src="http://www.placehold.it/350x250" class="center-block img-responsive">
          <h2 class="text-center feature1">drop-in finder</h2><br>
          <p>Not sure when and where your closest drop-in or league is? We’ve got you covered! The map feature allows you to seamlessly find local sporting events and activities nearby. You can browse different locations, and will eventually be able to join or create your own sporting event.</p><p>We’re making it easier for you to keep active!</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 center-block">
        <img src="http://www.placehold.it/350x250" class="center-block img-responsive">
        <h2 class="text-center feature3">check-in</h2><br>
        <p>Plan ahead to make your next drop-in worthwhile. Want to know which drop-ins are popular, or which ones have space for you and your big group? Maybe you’re an athlete that just needs a lot of space to perfect his/her craft, perhaps a social butterfly who enjoys seeing new faces and meeting new players at drop-ins? The check-in and comments feature will come in handy to give you more insight on the drop-in.</p><p> This is great for players who’ve been away from the sporting scene for quite sometime, as you can review comments from other patrons to keep you updated!</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 center-block">
          <img src="http://www.placehold.it/350x250" class="center-block img-responsive">
          <h2 class="text-center feature2">find a player</h2><br>
          <p >Tired of paying those penalties for lack of players? Never be short-benched again! The “Find a Player” feature allows your team to pick and choose their recruits base on location and skillset. Fill empty spots in the roster for league games or find familiar faces to attend drop-ins with! Are you a player searching for a team to play on?</p><p> Update your athletic resume (COMING SOON) and show the sporting community what you have to offer!</p>
      </div>
    </div>
  </section>


  <section class="sport_logos-outer">
    <div class="sport-logos-inner">
      <%#= link_to(image_tag("volleyball.png", :alt => "asdf",
      class: "sport_logo green_bck icon1", id: "first"), "/#/volleyball") %>

      <div class="sport_logo icon1 col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>

      <%#= link_to(image_tag("hockey.png", :alt => "asdf", 
      class: "sport_logo blue_bck icon2", id: "second"), "/#/hockey") %>

      <div class="sport_logo icon2 col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>

      <%#= link_to(image_tag("basketball.png", :alt => "asdf", 
      class: "sport_logo orange_bck icon3", id: "third"), "/#/basketball") %>

      <div class="sport_logo icon3 col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>

      <%#= link_to(image_tag("soccer.png", :alt => "asdf", 
      class: "sport_logo red_bck icon4", id: "fourth"), "/#/soccer") %>

      <div class="sport_logo icon4 col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>
      <div class="sport_logo icon5 col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>
      <div class="sport_logo icon6 col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>
      <div class="sport_logo icon7 col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>
      <div class="sport_logo icon8 col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>
      
      <%#= link_to(image_tag("dragonboating.png", :alt => "asdf", 
      class: "sport_logo red_bck icon5", id: "first"), "/#/dragonboat") %>

      <%#= link_to(image_tag("baseball.png", :alt => "asdf", 
      class: "disabled sport_logo test_images icon6", id: "second"), "") %>

      <%#= link_to(image_tag("ultimate.png", :alt => "asdf", 
      class: "sdisabled sport_logo test_images icon7", id: "third"), "") %>

      <%#= link_to(image_tag("dodgeball.png", :alt => "asdf", 
      class: "disabled sport_logo test_images icon8", id: "fourth"), "") %>  
    </div>   
  </section>

</div>

<%= javascript_include_tag 'angular_client_application' %>