<section id="dropinfinder" class="col s12 margin-padding-none">
    <div class="col s6 z-depth-1" id="left-wrapper"ng-cloak ng-class="{'map-mobile-toggle': !mapMobileToggle}" >
        <map zoom="10"></map>
        <button class="btn-info hidden-md hidden-lg col-sm-12 col-xs-12" id="map-to-list-button" ng-click="switchToList()">show info</button>
    </div>
    <div class="col s6" class="empty-space">~</div>
    <div class="col s6" id="right-wrapper"ng-cloak ng-class="{'map-mobile-toggle': mapMobileToggle}">
        <div app-view-segment="1"></div>
    </div>
</section>
<!--REFACTOR-->
<style>
    nav{
        background-color: white;
    }
</style>