<div class="dropin-view">
    <div class="row margin-top-2 col s12 button-list">
        <div class="col s12">
            <div class="col s6">
                <a ng-click="backToList()" href="/dropin-finder#/{{dropin.sport_event.sport_id}}" class="btn waves-effect waves-light">
                    <div class="glyphicon glyphicon-chevron-left hidden-xs" aria-hidden="true"></div>
                    back to list
                </a>
            </div>
            <div class="col s6 button-list hidden-lg hidden-md hidden-sm" ng-if="isSelected(dropin.id)">
                <a class="btn waves-effect waves-light" id="show-on-map" ng-click="$event.stopPropagation(); switchToMap()">
                    show on map
                </a>
            </div>
        </div>
    </div>
    <h1 ng-if="dropinFetchFailed">{{dropinFetchFailedReason}}</h1>

    <div ng-show="dropin.location.name !== undefined" class="row">
        <div class="col s12 inner-dropin-view">
            <div class="row col 12">
                <div class="row col s12">
                    <h1>{{dropin.location.name}} <small> {{dropin.distanceFromUser}}</small></h1>
                </div>
            </div>
            <span ng-show="dropin.expired" class="label label-warning">EXPIRED</span>
            <div class="row col s12">
                <div class="col s12 m6">
                    <div class=" col s12">
                <span>
                    <a href="http://maps.google.com/?q={{dropin.location.address}}" target="map">{{dropin.location.address}}</a>
                </span>
                        <br>
                        <span>{{dropin.phone}}</span>
                        <br>
                        <span>{{dropin.organization.email}}</span>
                        <br>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class=" col s12">
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row col s12">
                <hr class="margin-top-1 margin-bottom-1">
                <div class="col s12 m8">
                    <div class=" col s12">
                        <h3>{{dropin.datetime_start| date: 'EEEE'}} @
                            {{dropin.datetime_start | date:'h:mm a'}} - {{dropin.datetime_end | date:'h:mm a'}}
                            <br>{{dropin.sport_event.skill_level}} {{dropin.sport_event.type | capitalize }} {{dropin.sport_event.sport_id | capitalize}}
                        </h3>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class=" col s12">
                        <h3>Spots Available</h3>
                        <h5>{{ dropin.sport_events.spots | empty_to_na }}</h5>
                    </div>
                </div>
            </div>
            <div class="row col s12">
                <hr class="margin-top-1 margin-bottom-1">
                <div class="col s12 m6">
                    <div class=" col s12">
                        <h3>Schedule Until</h3>
                        <h5>{{dropin.sport_event.schedule_until | date:'MMM d'}}</h5>
                    </div>
                </div>
                <div class="col s12 m6" ng-hide="!dropin.event.comments">
                    <div class=" col s12">
                        <h3>Notes</h3>
                        <h5>{{dropin.event.comments}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-top-50">
        <h1>Reviews from users</h1>
        <table class="table">
            <player-review review="review" ng-repeat="review in reviews"></player-review>
        </table>
    </div>

    <new-review sport-event-id="dropin.sport_event.id" user-id="userId" ng-if="currentUser"></new-review>
</div>