<section class="dropinfinder-icon">
    <section class="sport-picker">
        <p>Choose A Sport</p>
        <div class="icon-outer">
            <a href="#volleyball">
                <div class="sport_logo icon2"></div>
            </a>
            <a href="#basketball">
                <div class="sport_logo icon1"></div>
            </a>
            <a href="#hockey">
                <div class="sport_logo icon3"></div>
            </a>
            <a href="#soccer">
                <div class="sport_logo icon4"></div>
            </a>
        </div>
        <p class="disclaimer clearfix text-center"><i>
            Schedules are subject to change. Please phone facilities for confirmation.
        </i></p>
    </section>

    <section class="information">
        <div><%= image_tag 'NewByMichaela/New_Icon-Choose.png', alt: 'Browse' %>
            <br>
            <h5>Choose</h5>
            <p>Find players and dropins</p>
        </div>

        <div class="line"></div>
        <div><%= image_tag 'NewByMichaela/New_Icon-Attend.png', alt: 'Connect' %>
            <br>
            <h5>Attend</h5>
            <p>Find your athletic soulmates</p>
        </div>
        <div class="line"></div>
        <div><%= image_tag 'NewByMichaela/New_Icon-Review.png', alt: 'Play' %>
            <br>
            <h5>Review</h5>
            <p>Run until you puke</p>
        </div>
            <!--<div class="sport_logo icon5 z-depth-3"></div>-->
            <!--<div class="sport_logo icon6 z-depth-3"></div>-->
            <!--<div class="sport_logo icon7 z-depth-3"></div>-->
            <!--<div class="sport_logo icon8 z-depth-3"></div>-->
    </section>
    <section class="FAQ">
        <p>Feature FAQ</p>
        <div class="col s12 m8 offset-m2">
            <p>1. I've never played any sports before. How do I get started?</p>
            <p>2. Do I have to be a pro?</p>
            <p>3. How do I find a dropin?</p>
            <p>4. Is cricket going to be added anytime soon?</p>
        </div>
    </section>
</section>