<div class="row col s6 z-depth-2" id="filter">
  <br>
  <!-- Only show this portion if the user doesn't have location tracking enabled in their browser -->
  <div class="panel panel-warning text-center" ng-if="!userLocationEnabled">Please let us access your location so we can show the distance to dropins</div>
  <h2 class="text-center sport_name">dropin {{sport | lowercase }} events</h2>
  <br>
  <div class="dropinfilters_row">
    <div class="text-center margin-bottom-1">
      <a class="waves-effect waves-light btn blue hide-on-med-and-up" ng-click="switchToMap()">Show Map</a>
      <a class="waves-effect waves-light btn blue" ng-click="resetFilters()">Reset Filters</a>
      <a class="waves-effect waves-light btn blue" href="/#">More Sports</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" ng-model="weekdaySelect" ng-change="setFilters()">
        <option value="" disabled selected>Day</option>
        <option value="All">All</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" ng-model="skillLevelSelect" ng-change="setFilters()">
        <option value="" disabled selected>Skill Level</option>
        <option value="All">All</option>
        <option value="Recreational">Recreational</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
    </div>
  </div>
  <br>
</div>
<div class="curtain text-center col s6 valign-wrapper" ng-show="loadingDropins">
  <div clas="valign">
    <h1>Loading Dropins..</h1>
    <%= image_tag("loading.gif", alt: "loading") %>
  </div>
</div>
<div class="dropin-results" ng-hide="loadingDropins">
  <div ng-if="failedRetrieve" class="panel panel-warning">
    <!-- This is only shown if we had an error retrieving the dropins -->
    <div class="panel-title text-center">Sorry, we could not retrieve the dropins at this time. Please try again
      later.
    </div>
  </div>
  <div class="dropin-repeat-wrapper">
    <div class="row clearfix dropin-repeat"
         ng-class="{selected: markerWrappers.currentlyOpen === dropin.id}"
         ng-repeat="dropin in dropins"
         ng-click="markerWrappers[dropin.id].infoWindow.toggle(); centerDropin(dropin)"
         ng-attr-id="{{ 'dropin-' + dropin.id }}">
      <div class="col-md-4 col-xs-12">
        <h4 ng-class="{bolded: isSelected(dropin.id)}">{{dropin.location.name}} <small>{{ dropin.distanceFromUser }}</small></h4>
      </div>

      <a ng-if="admin_signed_in" href="/admin/dropins/{{dropin.sport_event.id}}" ng-click="$event.stopPropagation()" target="_blank">View
        Admin Page for Dropin</a>

      <!-- show this if it's not selected -->
      <p class="col-md-2 col-xs-4">{{dropin.datetime_start | date:'EEEE'}}</p>

      <p class="col-md-2 col-xs-4">{{dropin.sport_event.skill_level}}</p>
      <p class="col-md-4 col-xs-4">{{dropin.datetime_start | date:'h:mm a'}} - {{dropin.datetime_end | date:'h:mm a'}}</p>
      <a id="chevron-link" href="/dropin-finder#/{{dropin.sport_event.sport_id}}/dropin/{{dropin.sport_event.id}}" ng-click="$event.stopPropagation()">
        <div class="pull-right glyphicon glyphicon-chevron-right margin-right-2" aria-hidden="true"></div>
      </a>
    </div>
  </div>

</div>
</div>
<div>
  <p><i>
    Schedules are subject to change. Please phone facilities for confirmation.
  </i></p>
</div>
<!--REFACTOR-->
<style>
    nav{
        background-color: white;
    }
</style>