<section class="dropinfinder">
    <div class="left-wrapper" ng-cloak ng-class="{'map-mobile-toggle': !mapMobileToggle}" >
        <map zoom="10"></map>
        <a class="waves-effect waves-light btn hidden-md hidden-lg blue" ng-click="switchToList()">show info</a>
    </div>
    <div class="right-wrapper" ng-cloak ng-class="{'map-mobile-toggle': mapMobileToggle}">
        <div app-view-segment="1"></div>
    </div>
</section>