<div class="padding-top-50">
    <a ng-click="backToList()" href="/dropin-finder#/{{dropin.sport_event.sport_id}}" class="btn btn-default">
        <div class="glyphicon glyphicon-chevron-left" aria-hidden="true"></div>
        Back
    </a>

    <div ng-show="dropin.location.name !== undefined" class="dropin-view">
        <div class="col-md-12">
            <h1>{{dropin.event.name}}</h1>

            <h2>{{dropin.location.name}} <small> {{dropin.distanceFromUser}}</small></h2>
        <span>
            <a href="http://maps.google.com/?q={{dropin.location.address}}" target="map">{{dropin.location.address}}</a>
        </span>
            <br>
            <span>{{dropin.phone}}</span>
            <br>
            <span>{{dropin.organization.email}}</span>
            <br>
            <hr>
        <span id="dropin-event-info">{{dropin.datetime_start| date: 'EEEE'}} @
            {{dropin.datetime_start | date:'h:mm a'}} - {{dropin.datetime_end | date:'h:mm a'}}
            <br>{{dropin.sport_event.skill_level}} {{dropin.sport_event.type}} {{dropin.sport_event.sport_id}}
        </span>
            <br>
            <hr>
            <div class="dropin-event-div col-sm-6">
                <h3 class="drop-finder-minheaders">Schedule Until</h3>
                <h5 class="drop-finder-minpara">{{dropin.sport_event.schedule_until | date:'MMM d'}}</h5>
            </div>
            <div class="dropin-event-div col-sm-6">
                <h3 class="drop-finder-minheaders">Spots Available</h3>
                <h5 class="drop-finder-minpara">{{ dropin.sport_events.spots | empty_to_na }}</h5>
            </div>
            <div class="dropin-event-div col-md-12" ng-hide="!dropin.event.comments">
                <br>
                <hr>
                <h3 class="drop-finder-minheaders">Notes</h3>
                <h5 class="drop-finder-minpara">{{dropin.event.comments}}</h5>
            </div>
        </div>
    </div>
</div>