<section>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 left-wrapper" id="left-wrapper" ng-cloak ng-class="{'map-mobile-toggle': !mapMobileToggle}" >
        <map zoom="10"></map>
        <button class="btn-info hidden-md hidden-lg col-sm-12 col-xs-12" id="map-to-list-button" ng-click="switchToList()">show info</button>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 right-wrapper" id="right-wrapper" ng-cloak ng-class="{'map-mobile-toggle': mapMobileToggle}">
        <div app-view-segment="1"></div>
    </div>
</section>