<section class="dropinfinder-icon">
    <section class="col m10 offset-m1 margin-bottom-5 margin-top-5">
        <div class="card">
            <div class="card-content text-center">
            <h1>dropin finder</h1>
            <hr>
            <h3>Find the sports you love playing and the players you love playing with!</h3>
            <h5>
                Looking to play your favorite sport or maybe try something new? Use the Dropin Finder
                and click on an icon to find volleyball, basketball, hockey and soccer dropins in your community.
            </h5>
        </div>
            </div>
    </section>

    <section class="col m10 offset-m1">
        <div class="icon-outer">
            <a href="#volleyball">
                <div class="sport_logo icon2 z-depth-3"></div>
            </a>
            <a href="#basketball">
                <div class="sport_logo icon1 z-depth-3"></div>
            </a>
            <a href="#hockey">
                <div class="sport_logo icon3 z-depth-3"></div>
            </a>
            <a href="#soccer">
                <div class="sport_logo icon4 z-depth-3"></div>
            </a>

            <div class="sport_logo icon5 z-depth-3"></div>
            <div class="sport_logo icon6 z-depth-3"></div>
            <div class="sport_logo icon7 z-depth-3"></div>
            <div class="sport_logo icon8 z-depth-3"></div>
        </div>
        <p class="disclaimer clearfix text-center"><i>
            Schedules are subject to change. Please phone facilities for confirmation.
        </i></p>
    </section>
</section>
<!--REFACTOR-->
<style>
    nav{
        background-color: white;
    }
</style>