<h1>All Locations</h1>
<%= link_to 'Create a new location', new_location_path, class: 'btn btn-default'  %>

<%= render 'locations_grid' %>

<button class="btn btn-default wg-external-csv-export-button" data-grid-name="locations">Export to CSV</button>