<h1>All Locations</h1>
<a href="/locations/new" class="btn btn-default">Create new location</a>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longtitude</th>
  </tr>
  
  <% @locations.each do |location| %>
  <tr>
    <td><a href="/locations/<%= location.id %>"><%= location.name %></a></td>
    <td><%= location.lat %></td>
    <td><%= location.long %></td>
  </tr>
  <% end %>
</table>

