@import "variables";

// ========== CONTACT US US PAGE ===========

.contact-us {
  .banner {
    background-image: image-url("NewByMichaela/New_BGImage-Soccer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 335px;
  }
  .contact-inner {
    @extend .container, .row, .col, .m10, .s12, .offset-m1;
    p{
      top: 50px;
      position: relative;
      letter-spacing: 5px;
      font-size: 3em;
      @media (max-width: 700px) {
        font-size: 2em;
      }
    }
  }
  .official-form{
    @extend .col, .s12, .m6;
  }
  .information{
    @extend .col, .s12, .m6;
  }
  .contact-outer{
    @extend .container, .row, .col, .m10, .s12, .offset-m1;
  }
}