@import "variables";

// ========== CONTACT US US PAGE ===========

.contact-us {
  .banner {
    @extend .center-align;
    background-image: image-url("NewByMichaela/New_LandingBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 335px;
  }
  .contact-inner{
    @extend .container, .col, .m10, .s12, .offset-m1;
  }
}