@import "variables";

// ========== CONTACT US US PAGE ===========

.contact-us {
  .banner {
    background-image: image-url("NewByMichaela/New_LandingBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 335px;
    h1{
      top: 50px;
      position: relative;
      color: white;
      letter-spacing: 5px;
      @media (max-width: 700px) {
        font-size: 2em;
      }
    }
  }
  .contact-inner{
    @extend .container, .col, .m10, .s12, .offset-m1;
  }
}