@import "variables";

//=========== Dropin Finder ============
.dropinfinder{
  @extend .col, .s12;
  padding:0 !important;
  margin: 0;
  background-color: white;
  .map-mobile-toggle{
    @media(max-width:600px){
      display: none !important;
    }
  }
  .left-wrapper{
    @extend .col , .s12, .m6;
    position:fixed;
    left:0;
    padding:0 !important;
    margin: 0 !important;
    z-index:1000;
    .marker-row-selected{
      background-color: #E8E8E8;
    }
    map{
      height:calc(100vh - #{$nav-height});
      @media(max-width: 600px){
        height: calc(100vh - 50px);
      }
    }
    @media(max-width: 600px){
    }
    .btn{
      position: absolute;
      z-index: 9999;
      bottom: 0;
      left:0;
      right:0;
      height: 30px;
    }
  }
  .right-wrapper{
    padding: 0;
    margin-left:50%;
    @media(max-width: 600px){
      margin-left: 0;
    }
    .filter{
      position: fixed;
      top: $nav-height;
      background-color: white;
      z-index: 97;
      border-bottom: 1px #BDBDBD solid;
      text-align: center;
      a{
        @extend .waves-light, .waves-effect, .btn , .blue-button;
        line-height: 36px;
      }
      div{
        padding: 0;
      }
      select{
        display: block;
      }
      h2{
        margin: 0;
        padding: 0;
        font-size: 2em;
      }
      @media(max-width: 600px){
        h2{
          font-size: 1.4em;
          margin-top: 5px;
          margin-bottom: 0;
        }
        .btn{
          font-weight: 100;
          font-size: .8em;
        }
        padding-bottom:5px;
      }
    }
    .dropin-repeat-wrapper{
      padding-top: 213px;
      background-color: #FAFAFA;
      padding-left: 15px;
      @media(max-width: 600px) {
        padding-top: 160px;
      }
      h4{
        font-size: 1em;
        font-weight: 600;
        margin:0;

      }
      p{
        margin:0;
      }
      @media(max-width: 600px) {
        h4{
          font-size:.9em;
        }
        p{
          font-size: .8em;
        }
      }
    }
    .dropin-repeat{
      min-height: 80px;
      border-bottom: solid 1px #9e9e9e;
      margin:0 !important;
      &:hover{
        background-color: #e3f2fd;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
      }
      .glyphicon{
        display:block;
        line-height: 44px;
        font-size: 2em;
        margin-right: 5px;
      }
    }
    .curtain{
      position:fixed;
      top: $nav-height;
      height:100vh;
      background-color: #FAFAFA;
      z-index:96;
      text-align:center;
      h1{
        font-weight: 200;
      }
    }
    .dropin-results{
    }
    .chevron {
      height: 80px;
    }
  }
}
//============= Dropin View =============
.dropin-view{
  height: calc(100vh - #{$nav-height});
  .right-wrapper{
    height: 100vh;
  }
  .button-list{
    a {
      width: 100%;
      background-color: transparent;
      color: black;
      border-color: lightgreen;
    }
  }
  p{
    margin-bottom: 0;
  }
  h1{
    font-size: 1.8em;
    margin: 0
  }
  h3{
    font-size: 1em;
    font-weight: 600;
    margin: 0;
  }
  .inner-dropin-view{
    div{
      margin: 0;
    }
    a{
      color: $dark-blue;
    }
  }
  .card{
    z-index: 100;
  }
}

//============ dropinfinder-icon============
.dropinfinder-icon{
  text-align: center;
  section{
    @extend .col, .m10, .offset-m1;
  }
  h3{
    font-weight: 200;
    font-size: 2em;
    color: $light-blue;
  }
  h5{
    font-size: 1em;
    font-weight: 100;
  }
  .card{
    max-width: 1004px;
    margin-left: auto;
    margin-right: auto;
    @media(max-width: 1200px){
      max-width: 750px;
    }
    @media(max-width: 600px){
      max-width: 504px;
    }
  }
  @media(max-width: 992px){
    h3{
      font-size: 1.2em;
    }
    h5{
      font-size: .9em;
    }
    h1{
      font-size: 2em;
    }
  }
  @media(max-width: 600px){
    h3{

    }
    h5{

    }
    h1{

    }
  }
  .icon-outer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    .sport_logo {
      border: none;
    }
    .icon1 {
      min-width: 248px;
      max-width: 248px;
      height: 250px;
      background: image-url('icons_sprite.png') 0 0;
      display: inline-block;
    }
    .icon2 {
      min-width: 249px;
      max-width: 249px;
      height: 250px;
      background: image-url('icons_sprite.png') -253px 0px;
      display: inline-block;
    }
    .icon3 {
      min-width: 249px;
      max-width: 249px;
      height: 250px;
      background: image-url('icons_sprite.png') -505px 0px;
      display: inline-block;
    }
    .icon4 {
      min-width: 249px;
      max-width: 249px;
      height: 250px;
      background: image-url('icons_sprite.png') -757px 0px;
      display: inline-block;
    }
    .icon5 {
      min-width: 249px;
      max-width: 249px;
      height: 250px;
      background: image-url('icons_sprite.png') -1009px 0px;
      display: inline-block;
    }
    .icon6 {
      min-width: 249px;
      max-width: 249px;
      height: 250px;
      background: image-url('icons_sprite.png') -1261px 0px;
      display: inline-block;
    }
    .icon7 {
      min-width: 249px;
      max-width: 249px;
      height: 250px;
      background: image-url('icons_sprite.png') -1513px 0px;
      display: inline-block;
    }
    .icon8 {
      min-width: 249px;
      max-width: 249px;
      height: 250px;
      background: image-url('icons_sprite.png') -1766px 0px;
      display: inline-block;
    }
    @media (max-width: 500px) {
      .icon1 {
        max-width: 124px;
        background: image-url('icons_sprite.png') 0px 0px no-repeat;
        background-size: cover;
        min-width: 123px;
        height: 125px;
        border: none;
        display: inline-block;
      }
      .icon2 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        border: none;
        background: image-url('icons_sprite.png') -125px 0px no-repeat;
        background-size: cover;
        display: inline-block;
      }
      .icon3 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -252px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
      .icon4 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -378px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
      .icon5 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -502px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
      .icon6 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -628px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
      .icon7 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -753px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
      .icon8 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -878px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
    }
  }
}