@import "variables";
// ========== ABOUT US PAGE ===========

.about-us {
  .about-us-text {
    padding-left: 40px !important;
    @media (max-width: 600px) {
      border: none;
      padding: 5px !important;
    }
  }
  .mission-text{
    padding-right: 40px !important;
    @media(max-width: 600px){
      padding: 5px;
    }
  }
  img {
    max-height: 300px;
  }
  h1{
    font-size:30px;
  }
  h4 {
    margin-top: 0;
    font-size: 15px;
    font-weight: 600;
  }
  .tm {
    clear: both;
    padding: 30px 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    &:first-of-type {
      border-top: 1px solid #ddd;
    }
    &:last-of-type {
      border: 0;
    }
    @media(max-width: 600px){
      padding: 0px 5px 5px 5px;
    }
  }
  @media (max-width: 600px) {
    padding: 0 !important;
  }
  .card{
    background-color: rgba(255,255,255,.85);
  }
}