@import "variables";

//=========== Dropin Finder ============
#dropinfinder{
  margin-top: 100px;
  padding-left: 0;
  padding-right: 0;
  #left-wrapper{
    padding-left: 0;
    padding-right: 0;
    position:fixed;
    map{
      height:calc(100vh - 100px);
    }
  }
  #right-wrapper{
    padding-right: 0;
    padding-left: 0;
    #filter{
      position: fixed;
      background-color: white;
      z-index: 97;
      padding-bottom: 30px;
    }
    .dropin-repeat-wrapper{
      padding-top: 200px;
    }
    .dropin-repeat{
      min-height: 80px;
      border-bottom: solid 1px #9e9e9e;
      &:hover{
        background-color: #e3f2fd;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
      }
      .glyphicon{
        display:block;
      }
    }
    .curtain{
      position:fixed;
      height:100vh;
      background-color: white;
      z-index:96;
      h1{
        font-weight: 200;
      }
    }
    .dropin-results{
      z-index:95
    }
  }
}

//============ dropinfinder-icon============
#dropinfinder-icon{
  .card{
    margin-top: 115px;
  }
  h3{
    font-weight: 200;
    font-size: 2em;
    color: $light-blue;
  }
  h5{
    font-size: 1.4em;
    font-weight: 100;
  }
  .icon-outer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    .icon1 {
      min-width: 250px;
      max-width: 250px;
      height: 250px;
      background: image-url('icons_sprite.png') 0 0;
      display: inline-block;
      border: 1px solid #000;
    }
    .icon2 {
      min-width: 250px;
      max-width: 250px;
      height: 250px;
      background: image-url('icons_sprite.png') -253px 0px;
      display: inline-block;
      border: 1px solid #000;
    }
    .icon3 {
      min-width: 250px;
      max-width: 250px;
      height: 250px;
      background: image-url('icons_sprite.png') -505px 0px;
      display: inline-block;
      border: 1px solid #000;
    }
    .icon4 {
      min-width: 250px;
      max-width: 250px;
      height: 250px;
      background: image-url('icons_sprite.png') -757px 0px;
      display: inline-block;
      border: 1px solid #000;
    }
    .icon5 {
      min-width: 250px;
      max-width: 250px;
      height: 250px;
      background: image-url('icons_sprite.png') -1010px 0px;
      display: inline-block;
      border: 1px solid #000;
    }
    .icon6 {
      min-width: 250px;
      max-width: 250px;
      height: 250px;
      background: image-url('icons_sprite.png') -1262px 0px;
      display: inline-block;
      border: 1px solid #000;
    }
    .icon7 {
      min-width: 250px;
      max-width: 250px;
      height: 250px;
      background: image-url('icons_sprite.png') -1513px 0px;
      display: inline-block;
    }
    .icon8 {
      min-width: 250px;
      max-width: 250px;
      height: 250px;
      background: image-url('icons_sprite.png') -1766px 0px;
      display: inline-block;
    }
    @media (max-width: 500px) {
      .icon1 {
        max-width: 124px;
        background: image-url('icons_sprite.png') 0px 0px no-repeat;
        background-size: cover;
        min-width: 123px;
        height: 125px;
        border: none;
        display: inline-block;
      }
      .icon2 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        border: none;
        background: image-url('icons_sprite.png') -125px 0px no-repeat;
        background-size: cover;
        display: inline-block;
      }
      .icon3 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -252px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
      .icon4 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -378px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
      .icon5 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -502px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
      .icon6 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -628px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
      .icon7 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -753px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
      .icon8 {
        min-width: 123px;
        max-width: 123px;
        height: 125px;
        background: image-url('icons_sprite.png') -878px 0px no-repeat;
        border: none;
        background-size: cover;
        display: inline-block;
      }
    }
  }
}