//============Buttons============
.generic-button{
  @extend .btn, .waves-effect, .waves-light;
  height: 30px;
  line-height: 30px;
}
.blue-button{
  @extend .generic-button;
  background-color: $light-blue;
  border: 1px solid $light-blue;
  color:  #ffffff;
  &:hover {
    background-color: $dark-blue;
  }

}
.green-button{
  @extend .generic-button;
  background-color: $light-green;
  border: 1px solid $light-green;
  color: #ffffff;
  &:hover{
    background-color:$dark-green;
  }
}
.orange-button{
  @extend .generic-button;
  background-color: $light-orange;
  border: 1px solid $light-orange;
  color : #ffffff;
  &:hover{
    background-color:$dark-orange;
  }
}
.red-button{
  @extend .generic-button;
  background-color: $light-red;
  border: 1px solid $light-red;
  color: #ffffff;
  &:hover{
    background-color:$dark-red;
  }
}
.grey-button{
  @extend .generic-button;
  background-color: #696969;
  border: 1px solid #696969;
  color : #ffffff;
  &:hover{
    background-color: #696969;
  }
}