/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
*/

// ========== SECTION STYLES ===========

.navbar-inverse {
  // background-color: #EAEAEA !important;
  background-color: #fff;
  height: 65px;
  // border: none !important;
  border-radius: 0px !important
}

.header {
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 55px;
}

body {


  background: #eaeaea; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #eaeaea 0%, #ffffff 50%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eaeaea), color-stop(50%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #eaeaea 0%,#ffffff 50%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #eaeaea 0%,#ffffff 50%,#eaeaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #eaeaea 0%,#ffffff 50%,#eaeaea 100%); /* IE10+ */
background: linear-gradient(to right,  #eaeaea 0%,#ffffff 50%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#eaeaea',GradientType=1 ); /* IE6-8 */


  // /* IE10 Consumer Preview */ 
  // background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #EAEAEA 100%);

  // /* Mozilla Firefox */ 
  // background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #EAEAEA 100%);

  // /* Opera */ 
  // background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #EAEAEA 100%);

  // /* Webkit (Safari/Chrome 10) */ 
  // background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #EAEAEA));

  // /* Webkit (Chrome 11+) */ 
  // background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #EAEAEA 100%);

  // /* W3C Markup, IE10 Release Preview */ 
  // background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #EAEAEA 100%);

}

.sport_logos {
  // background-color: #fff;
  height: 1000px;

}



// ========== IMAGE STYLES ===========

.sport_logo {
  height: 280px !important;
  width: 280px !important;
  padding: 15px; 
  margin: 1px;
  background-color: transparent;
  &:hover {
    opacity: 0.9;
    -webkit-transition :opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
  }
}

.test_images {
  opacity: 0.7;
  height: 280px !important;
  width: 280px !important;
  background-color: #474747;
  &:hover {
    opacity: 0.7;
  }
} 

.green_bck {
  background-color: #00da65;
  &:hover {
    background-color: #08e26d;
  }
}

.blue_bck {
  background-color: #0489d0;
  &:hover {
    background-color: #1395da;
  }

}

.orange_bck {
  background-color: #ff8b00;
  &:hover {
    background-color: #ff900b;
  }  
}

.red_bck {
  background-color: #ff3900;
  &:hover {
    background-color: #ff4009
  }
  
}

// 

.white {
  color: #fff;
}

// port-over: Akos
.table-row{
    background-color: white;
    transition: background-color 0.25s linear;
    transition: 0.5s linear;
}

.table-row:hover{
    background-color: lightblue;
}

.table-row.ng-enter{
    opacity: 0;
}

.table-row.ng-enter-active{
    opacity: 1;
}

.table-row.ng-leave{
    opacity: 1;
}

.table-row.ng-leave-active{
    opacity: 0;
}


.main-wrapper{
    transition: 1s linear;
}

.main-wrapper.ng-enter{
    opacity: 0;
}

.main-wrapper.ng-enter-active{
    opacity: 1;
}

.main-wrapper.ng-leave{
    opacity: 1;
}

.main-wrapper.ng-leave-active{
    opacity: 0;
}