/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import "variables";



// ========== LANDING PAGE ===========

.header-outer {
	background-color: transparent;

	.header {
		padding: 0px 40px;
	}

	@media (max-width: 750px) {
		.header {
			padding: 0px;
		}
	}
}

.mailer-outer {
	background-color: #fff;
	min-height: 1px;

	.mailer {
		min-height: 200px;
	}

	.mailer-inner {
		input[type="email"] {
			width: 50%;
			margin: 0 auto;
		}
	}

}

.feature-outer {
	color: $primary-color;

	h1 {
		color: $primary-color;
	}
	
	.feature {
		background-color: #000;
		padding: 40px 80px;
	}

	.feature1 {
		color: $light-green;
	}

	.feature2 {
		color: $light-blue;
	}

	.feature3 {
		color: $light-orange;
	}

	@media (max-width: 750px) {
		.feature {
			padding: 40px 20px;
		}
	}
}

.sport_logos-outer {
	padding: 50px 40px 100px;

	.sport-logos-inner {

		.icon-outer {
			max-width: 1200px;
			margin: 0 auto;
			text-align: center;

			.icon1 {
				margin-top: 50px;
				min-width: 250px;
				max-width: 250px;
	    		height: 250px;
	    		background: url(icons_sprite.png) 0 0;
				display: inline-block;
			}
			.icon2 {
				min-width: 250px;
				max-width: 250px;
	    		height: 250px;
	    		background: url(icons_sprite.png) -253px 0px;
				display: inline-block;
			}
			.icon3 {
				min-width: 250px;
				max-width: 250px;
	    		height: 250px;
	    		background: url(icons_sprite.png) -505px 0px;
				display: inline-block;
			}
			.icon4 {
				min-width: 250px;
				max-width: 250px;
	    		height: 250px;
	    		background: url(icons_sprite.png) -757px 0px;
				display: inline-block;
			}
			.icon5 {
				min-width: 250px;
				max-width: 250px;
	    		height: 250px;
	    		background: url(icons_sprite.png) -1010px 0px;
				display: inline-block;
			}
			.icon6 {
				min-width: 250px;
				max-width: 250px;
	    		height: 250px;
	    		background: url(icons_sprite.png) -1262px 0px;
				display: inline-block;
			}
			.icon7 {
				min-width: 250px;
				max-width: 250px;
	    		height: 250px;
	    		background: url(icons_sprite.png) -1513px 0px;
				display: inline-block;
			}
			.icon8 {
				min-width: 250px;
				max-width: 250px;
	    		height: 250px;
	    		background: url(icons_sprite.png) -1766px 0px;
				display: inline-block;
			}
		}
	}
}











/*.features {
	min-height: 1px;
	padding: 30px;
	min-height: 600px;
	background-color: $contrast-color;

	.feature1 {
		color: $light-green;
	}

	.feature2 {
		color: $light-blue;
	}

	.feature3 {
		color: $light-orange;
	}

	p {
		color: $primary-color;
	}

	img {
		border: 2px solid $primary-color;
	}
}

.contact-us {

	.socialmedia-full {

		li {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.socialmedia {
		height: 50px;
	}

	@media (max-width: 1199px) {
		.socialmedia-full {
			border: 0;
		}
	}

}

.mailer {
	min-height: 400px;
	background-color: #fff;

	.mailer-inner {
		padding: 60px 60px 100px 60px
	}

	.form-group {
		margin: 0 auto;
	}

	.btn-info:hover {
		color: $light-red;
		background-color: #fff;
		border: 1px solid $light-red;
	}

}


*/



// ========== ABOUT US PAGE ===========

.about-us {

    .about-us-text {
        border-right: 1px solid #000;

        @media (max-width: 1199px) {
        	border: none;
        }
    }

    img {
    	width: 300px;
    	border-radius: 5px;
    	padding: 10px;
    	border: 2px solid #000;
    }

    .teammember {
    	height: 1200px;
    	cursor: pointer;
    }

	.showme{ 
		display: none;
		 -webkit-transition: padding 2s;

	}
	.showbio:hover .showme{
		display : block;
		transition: opacity 0.2s 1s ease;
		-webkit-transition: border-radius 2s;

	}

	.hidden {
     display:none;
	}
}



// ========== CONTACT US US PAGE ===========

.contact-us {
	
	.contact-us-text {
		height: 300px;
	}

	.contact-us-form {
		.form-control	{
			border: 1px solid #000;
			border-radius: 0px; 
			
		}
	}

	.socialmedia-full {
		ul li {
			display: block; 
			padding-bottom: 25px; 
		}
	}

	.disclaimer {
		padding-top:100px;
		height: 200px;
	}



}
