/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
@import "variables";

// ========== LANDING PAGE ===========

.landing-page {

  .panel {
    background-color: transparent;
    border: none;
  }

  .panel-success {
    color: $light-green;
  }

  .panel-warn {
    color: $dark-red;
  }

  .slogan {
    font-family: "Raleway", sans-serif;
    font-size: 23px;
  }

  .intro {
    font-family: "Raleway", sans-serif;
    font-size: 33px;
  }

  .header-outer {
    background-color: transparent;

    .header {
      padding: 20px 40px;

      h3 {
        color: $dark-blue;
      }
    }

    @media (max-width: 750px) {
      .header {
        padding: 20px 40px;
      }
      .header h4{
        font-size: 20px;
      }
      .header h4{
        font-size: 17px;
      }
    }
  }

  .mailer-outer {
    background-color: #fff;
    min-height: 1px;

    .mailer {
      min-height: 200px;
    }

    .mailer-inner {
      input[type="email"] {
        width: 50%;
        margin: 0 auto;
      }
    }

  }

  .center-block {
    a {
      display: block;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }

    padding-top: 20px;
  }
  .feature-outer {

    color: $primary-color;

    h1 {
      color: $primary-color;
    }

    .feature {
      background-color: #000;
      padding: 40px 80px;
    }

    .feature1 {
      color: $light-green;
    }

    .feature2 {
      color: $light-blue;
    }

    .feature3 {
      color: $light-orange;
    }

    @media (max-width: 750px) {
      .feature {
        padding: 40px 20px;
      }
    }
  }

  .sport_logos-outer {
    padding-top: 50px;
    padding-bottom: 50px;
    clear: both;
    position: relative;

    @media (max-width: 510px) {
      padding-left: 0;
      padding-right: 0;
    }

    h1 {
      margin-bottom: 20px;
    }

    .sport-logos-inner {

      .icon-outer {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;

        .icon1 {
          margin-top: 50px;
          min-width: 250px;
          max-width: 250px;
          height: 250px;
          background: image-url('icons_sprite.png') 0 0;
          display: inline-block;
        }
        .icon2 {
          min-width: 250px;
          max-width: 250px;
          height: 250px;
          background: image-url('icons_sprite.png') -253px 0px;
          display: inline-block;

          @media (max-width: 583px) {
            margin-bottom: -50px;
          }
        }
        .icon3 {
          min-width: 250px;
          max-width: 250px;
          height: 250px;
          background: image-url('icons_sprite.png') -505px 0px;
          display: inline-block;
        }
        .icon4 {
          min-width: 250px;
          max-width: 250px;
          height: 250px;
          background: image-url('icons_sprite.png') -757px 0px;
          display: inline-block;
        }
        .icon5 {
          min-width: 250px;
          max-width: 250px;
          height: 250px;
          background: image-url('icons_sprite.png') -1010px 0px;
          display: inline-block;
        }
        .icon6 {
          min-width: 250px;
          max-width: 250px;
          height: 250px;
          background: image-url('icons_sprite.png') -1262px 0px;
          display: inline-block;
        }
        .icon7 {
          min-width: 250px;
          max-width: 250px;
          height: 250px;
          background: image-url('icons_sprite.png') -1513px 0px;
          display: inline-block;
        }
        .icon8 {
          min-width: 250px;
          max-width: 250px;
          height: 250px;
          background: image-url('icons_sprite.png') -1766px 0px;
          display: inline-block;
        }
      }
    }
  }

}

// ========== ABOUT US PAGE ===========

.about-us {

  .about-us-text {
    @media (max-width: 1199px) {
      border: none;
    }
  }

  img {
    //width: 250px;
    max-height: 300px;
    border: 1px solid #000;
  }

  h4 {
    margin-top: 0;
    font-weight: bold;
  }

  .tm {
    clear: both;
    padding: 30px 0px;
    border-bottom: 1px solid #ddd;

    &:first-of-type {
      border-top: 1px solid #ddd;

    }

    &:last-of-type {
      border: 0;

    }
  }
}

// ========== CONTACT US US PAGE ===========

.contact-us {
  .contact-us-text {
    max-height: 300px;
  }

  .contact-us-form {
    .form-control {
      border: 1px solid #000;
      border-radius: 0px;

    }
  }

  ul {
    padding: 0 !important;
  }

  li {
    padding: 5px 0px;
    display: block;
  }

  .socialmedia {
    max-height: 35px;
  }

  .panel {
    background-color: transparent;
  }

  .panel-warn {
    color: $dark-red;
  }

  .panel-success {
    color: $light-green;
  }

  .footer {
    min-height: 300px;

  }

  @media (max-width: 1199px) {
    .socialmedia-full {
      border: 0;
    }

  }

  @media (max-width: 768px) {
    .socialmedia-full {
      border: 0;

      ul li {
        float: left;
        padding-right: 5px;
      }
    }
  }
}