h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: #000;
}

h2 {
  font-family: 'Jura', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h3, h4, h5, h6, p, input, button, select, textarea {
  font-family: 'Raleway', sans-serif;

}

a {
  font-family: 'Jura', sans-serif;
  color: #fff !important;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.logotext {
  display: inline block;
  text-align: right;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: -15px;
}

.slogan {
  opacity: .7;
}

li {
  font-family: 'Raleway', sans-serif;
  color: #EAEAEA;
}


.static_pages {
  h3, p {
    font-family: 'Raleway', sans-serif;
  }
}


.navbar-inverse .navbar-nav > li > a {
  color: #EAEAEA;
}

.dropdown-menu {
  background-color: #000;
}

.dropdown-menu>li>a {
  color: #fff !important;
  background-color: #000;

  &:hover {
    color: #fff !important;
    background-color: #000 !important;
  }
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
  color: #EAEAEA;
}

.navlinks.dropdown.open {
  
  background-color: #ff3900;
}

.dropdown-menu {
  background-color: #ff3900;

  ul {
    background-color: #ff3900;
  }
}
.dropdown-menu>li>a {
  color: #fff !important;
  background-color: #ff3900;

  &:hover {
    color: #fff !important;
    background-color: #ff3900 !important;
  }
}

}

.white {
  color: #fff;
}

.grey {
  color: #EAEAEA;
}