h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  // text-transform: uppercase;
}

h2 {
  line-height: 1px;
  font-size: 22px;
}

h2, h3, h4, h5, h6, p, input {
  font-family: 'Open Sans', sans-serif;
}

li, a {
  // font-family: 'Fredoka One', cursive;
  font-family: 'Open Sans', sans-serif;
  color: #EAEAEA;
}

a:hover {
  text-decoration: none;
  color: #fff;
}


.navbar-inverse .navbar-nav > li > a {
  color: #EAEAEA;
}

.white {
  color: #fff;
}

.grey {
  color: #EAEAEA;
}