h1 {
  // font-family: 'Fredoka One', cursive;
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 55px;
  // text-transform: uppercase;
}

h2 {
  line-height: 1px;
  font-size: 30px;
  font-weight: 400;
  word-wrap: break-word;
}

h2, h3, h4, h5, h6, p, input, button, select, textarea {
  font-family: 'Raleway', sans-serif;

}

a {
  font-family: 'Jura', sans-serif;
  color: #fff !important;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.logotext {
  font-size: 20px;
  margin-bottom: -15px;
}

.slogan {
  opacity: .7;
}

li {
  font-family: 'Raleway', sans-serif;
  color: #EAEAEA;
}



.navbar-inverse .navbar-nav > li > a {
  color: #EAEAEA;
}

.dropdown-menu {
  background-color: #000;
}
.dropdown-menu>li>a {
  color: #fff !important;
  background-color: #000;

  &:hover {
    color: #fff !important;
    background-color: #000 !important;
  }
}

.white {
  color: #fff;
}

.grey {
  color: #EAEAEA;
}