// ========== VARIABLES ===========

$primary-color: #eaeaea;
$contrast-color: #000;

$dark-green: #00DA65;
$light-green: #08e26d;

$dark-blue: #0489d0;
$light-blue: #1395da;

$dark-orange: #ff8b00;
$light-orange: #ff900b;

$dark-red: #ff3900;
$light-red: #ff4009;

$selected-dropin: #E8E8E8;