<div ng-controller="scrape">
  <h1>Importer</h1>

  <p>
    <i>Note:</i> Currently, this will not import anything, but it does pull <b>live</b> data from the city of Vancouver
    sites.
  </p>

  <form>
    <button ng-click="getData()">Get some data</button>
    <h3 ng-show="loadingData" ng-cloak>LOADING DATA PLEASE WAIT</h3>
  </form>
  <h3>Check it out. I'm gonna show you five of these</h3>
  <table class="table" ng-show="dropins.length > 0" ng-cloak>
    <tr>
      <th>Title</th>
      <th>Ages</th>
      <th>Status</th>
      <th>Price</th>
      <th>Description</th>
      <th>Schedule</th>
      <th>Link to event</th>
    </tr>
    <tr ng-repeat="dropin in dropins" ng-cloak>
      <td>{{dropin.fields_hash.Title}}</td>
      <td>{{dropin.fields_hash.Ages}}</td>
      <td>{{dropin.fields_hash.Status}}</td>
      <td>{{dropin.fields_hash.Price}}</td>
      <td>{{dropin.fields_hash.Description}}</td>
      <td>{{dropin.fields_hash.ScheduleString}}</td>
      <td><a href="{{dropin.url}}" target="_blank">{{dropin.url}}</a></td>
    </tr>
  </table>
</div>