<h1>Welcome to Teamhuddle Admin <small>...heavily under construction</small></h1>
<hr>
<h2>What's new?</h2>
<ul>
  <h4>Lots of Client Changes</h4>
  <h4 class='warning'>Ability to sign in and out</h4>
</ul>

<h2>Currently Functional:</h2>
<ul>
  <li><%= link_to 'Organizations', organizations_path %></li>
  <li><%= link_to 'Locations', locations_path %></li>
  <li><%= link_to 'Dropins', dropins_path %></li>
</ul>


<h2>Notes</h2>
<ul>
  <li>This portion of the webapp will only act as an admin interface</li>
  <li>It will be used to interact with database and to supplement the Ember.js client</li>
</ul>

  