<h1>Welcome to Teamhuddle</h1>
<small>...heavily under construction</small>

<h2>Currently Functional:</h2>
<ul>
  <li>locations/new</li>
</ul>


<h2>Notes</h2>
<ul>
  <li>This portion of the webapp will only act as an admin interface</li>
  <li>It will be used to interact with database and to supplement the Ember.js client</li>
</ul>

  