<!DOCTYPE html>
<html>
  <head>
    <title>Teamhuddle</title>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    <%= javascript_include_tag 'application' %>
    <div class="container">
      <div id="wrapper" class="panel panel-default">
        <ul class="nav nav-pills">
          <li><a href="/">Home</a></li>
          <li><a href="/locations">Locations</a></li>
          <li><a href="/organizations">Organizations</a></li> 
          <li><a href="/dropins">Dropins</a></li>
          <li><a href="#">More to come...</a></li>
        </ul>
        <%= yield %>
      </div>
    </div>
  </body>
</html>