<h1>All Organizations</h1>
<%= link_to 'Create a new organization', new_organization_path, class: 'btn btn-default'  %>

<%= render 'organizations_grid' %>

<button class="btn btn-default wg-external-csv-export-button" data-grid-name="organizations">Export to CSV</button>